.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.container-fluid {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-fluids {
    padding-top: 20px;
    padding-bottom: 25px;
  }
.col-md-6 p {
  color: black;
  font-size: 20pt;
  font-weight: 500;
  padding: 20px;
}
.col-sm-4 p {
    color: black;
    font-size: 20pt;
    font-weight: 500;
    padding: 20px;
  }
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1d6456 !important;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #ffffff;
}
body {
  font-family: "Stick", sans-serif;
}
.pokebg {
  background-image: url("https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png");
}
.center-img img {
}
.container-fluid h3 {
  font-size: 30pt;
  font-weight: 900;
}

/* start navbar */
.hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  tranform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}
.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}

/*everything below here is just setting up the page, so dont worry about it */

@media (min-width: 768px) {
  .navbar {
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}

body {
  background-color: rgba(0, 0, 0, 1);
  font-weight: 600;
  text-align: center !important;
  color: white;
}

nav {
  background: none !important;
  text-transform: uppercase;
  li {
    margin-left: 3em;
    margin-right: 3em;
    a {
      transition: 0.5s color ease-in-out;
    }
    }
}

.page-title {
  opacity: 0.75 !important;
}
h3{
    padding-bottom:100px;
}
/* end navbar */


/* footer */
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
.footfont li, p{
    font-size: 20pt;
}
.footspace{
    padding-bottom: 50px;
}

ul > li {
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
    font-size:20px;
}